{% extends "base.html" %}

{% block content %}
{% if articles %}
    {% for article in articles_page.object_list %}        
    <article>
        <header>
            {% include "article_header.html" %}
        </header>

        <div class="body">
            {{ article.summary }}
            <p><a class='readmore' href='/{{ article.url }}'>Read more</a></p>
        </div>

    </article>
{% endfor %}
{% endif %}
{% endblock content %}

{% if articles_page.has_next() or articles_page.has_previous() %}
{% block footnote %}
    {% include 'pagination.html' %}
{% endblock %}
{% endif %}
